.SubServiceMainCard {
    width: 100%;
    height: auto;
    display: flex;
    justify-content: center;
}

.cardBack {
    /* background-image: url("https://images.pexels.com/photos/1543762/pexels-photo-1543762.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940"); */
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    width: 90%;
    height: 300px;
    margin: 30px 0;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 20px;
}

.blurCard {
    background: linear-gradient(to bottom right, rgb(255, 255, 255, 0.2), rgb(255, 255, 255, 0.3));
    backdrop-filter: blur(8px);
    width: 800px;
    height: 50%;
    border-radius: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    font-size: 30px;

}

.blurCard:hover{
    backdrop-filter: blur(0px);
    animation: cardAnimation 0.1s;
}

@keyframes cardAnimation {
    0%{
        backdrop-filter: blur(8px);
    }
    25%{
        backdrop-filter: blur(6px);
    }
    50%{
        backdrop-filter: blur(4px);
    }
    75%{
        backdrop-filter: blur(2px);
    }
    100%{
        backdrop-filter: blur(0px);
    }
}